<div class="container-fluid g-0">

    <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
    <main>
        <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]=
        "{'app-side-nav-open':sideNavStatus}">

        </app-sidenav>
        <div class="display-area p-3" [ngClass]=
        "{'display-area-shrink':sideNavStatus}">
            <p class="fs-1 fw-bold fst-italic">Welcome to Cricket Player </p>
        </div>
    </main>
</div>
